# config/services.yaml
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true       # Enable autowiring for proper dependency injection
        autoconfigure: true  # Enable autoconfigure for proper service discovery

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones